.course-feedback-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.course-feedback-section .section-heading {
  font-size: var(--heading);
  margin: 1rem;
  padding: 1rem 0;
}

.course-feedback-section .section-body {
  padding: 1rem;
  background: var(--bg);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 1rem;
}
.course-feedback-section .section-body .feedback-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  font-weight: 600;
  color: var(--primary);
}
.course-feedback-section .section-body .feedback-content button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--text);
  display: grid;
  place-items: center;
}
.course-feedback-section .section-body .feedback-content button:hover {
  color: var(--primary);
}
.course-feedback-section .section-body .feedback-content button i {
  margin-top: 4px;
}
.course-feedback-section .section-body p {
  font-size: var(--medium-font);
}

.section-body .feedback-popup {
  padding: 0.5rem;
}

.feedback-popup form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.feedback-popup form button {
  margin-left: auto;
  width: auto;
}
