.courses-page .page-thumbnail {
    display: flex;
    height: max(25rem, 25vh);
    width: 100%;
    background: var(--white);
    border-radius: 10px;
    position: relative;
}

.page-thumbnail img {
    border-radius: 10px;
    object-fit: contain;
}

.courses-page .page-heading {
    font-size: 4rem;
    padding: 1rem 3rem;
    margin: 1rem 0;
    font-weight: 900;
    color: var(--secondary);
    text-decoration: underline;
    position: absolute;
    top: 80%;
    left: 50%;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
}

.courses-page .courses-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    padding: 2rem 5%;
    align-self: flex-start;
    gap: 2rem;
}